.director {
	width: 100%;
	margin: 120px 0px 0px 0px;
	min-height: 80vh;
}

.director__container {
	margin: 30px auto;
}

.director__help_info {
	display: flex;
}

.director__help_info li {
	flex: 0 1 25%;
	font-size: 16px;
	font-weight: 500;
	opacity: 0.7;
	padding: 0px 10px;
}

.director__expert {
	margin: 20px 0px 0px 0px;
}

.director__expert_list {
	border-radius: 10px;
	display: flex;
	position: relative;
	margin: 0px 0px 15px 0px;
}

.director__expert_list:last-child {
	margin: 0px 0px 0px 0px;
}

.director__expert_list::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: -7px;
	width: 100%;
	height: 2px;
	background-color: rgb(218, 218, 218);
}

.director__expert_list li {
	flex: 0 1 25%;
}

.director__li {
	padding: 10px 10px;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
	overflow: hidden;
}

.first a {
	color: #222;
	transition: color 0.5s ease 0s;
}

.thrid {
	color: #d71f33;
}

.first a:hover {
	color: #d71f33;
}

@media (max-width:768px) {
	.director__expert_list {
		flex-direction: column;
	}

	.director__help_info {
		display: none;
	}
}

@media (max-width:425px) {
	.director {
		margin: 100px 0px 0px 0px;
		min-height: 0vh;
	}

}