.global_button {
	padding: 10px;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	margin: 15px 0px 0px 0px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	background-color: #fff;
}

.global_button span {
	position: relative;
	left: 0;
	top: 0;
}

.global_button:hover span {
	position: relative;
	left: 0;
	top: 0;
	color: #fff;
}

.global_button::before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	height: 100%;
	z-index: 0;
	background-color: #d71f33;
}

.global_button.red::before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	height: 100%;
	z-index: 0;
	background-color: #222222;
}

.global_button:hover::before {
	content: '';
	animation: buttonLine 0.3s linear 0s 1 normal forwards;
}

@keyframes buttonLine {
	0% {
		width: 0%;
	}

	50% {
		width: 50%;
	}

	100% {
		width: 100%;
	}
}