.product {
	width: 100%;
	color: #222;
	padding: 0px 0px 30px 0px;
}

.product__container {
	position: relative;
}

.product__body {
	padding: 180px 0px 0px 0px;
}

.product button {
	color: #fff;
	background-color: #222;
}

@media (max-width: 768px) {
	.product {
		padding: 0px 10px;
	}
}