.articles {
	margin: 120px 0px 0px 0px;
}

.articles__container {
	margin: 50px auto 0px auto;
}

.articles__row {
	display: flex;
}

.articles__image {
	flex: 0 1 40%;
	height: 327px;
}

.articles__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.articles__image p {
	font-weight: 500;
	margin: 10px 0px 0px 0px;
	opacity: 0.8;
}

.articles__column {
	flex: 0 1 60%;
	padding: 0px 0px 0px 30px;
}

.articles__title {
	font-size: 24px;
	font-weight: 700;
	color: #d71f33;
	margin-bottom: 20px;
}

.articles__description {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	opacity: 0.8;
}

@media (max-width: 1024px) {
	.articles__row {
		padding: 0px 10px;
	}
}

@media (max-width: 768px) {
	.articles__container {
		margin: 20px auto 0px auto;
	}

	.articles__row {
		display: flex;
		flex-wrap: wrap;
		margin: 30px 0px 0px 0px;
	}

	.articles__image {
		flex: 1 1 100%;
		height: 300px;
	}

	.articles__column {
		padding: 50px 0px 0px 0px;
		flex: 1 1 100%;
		font-size: 16px;
		line-height: 24px;
	}

}